.umad {
	color: red;
	text-align: center;
	font-family: courier;
	padding-top: 20px;
}

.display-4 {
	padding-top: 10px;
	color: red;
	text-align: center;
	font-size: 25px;
	font-family: courier;
}

h3 {
	padding-top: 10px;
	font-family: courier;
	color: red;
	font-size: 20px;
	padding-left: 20px
}

.beginners {
	padding-top: 20px;
}

.intermediate {
	padding-top: 20px;
}

.advanced {
	padding-top: 20px;
}